APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_DRIVER=sync

TWITTER_API_OAUTH_ACCESS_TOKEN = OAuth Access Token
TWITTER_API_OAUTH_ACCESS_TOKEN_SECRET = OAuth Access Token Secret
TWITTER_API_CONSUMER_KEY = Consumer key
TWITTER_API_CONSUMER_SECRET = Consumer secret
TWITTER_API_USER_ID = User id;